<% if current_user && current_user.may_edit(comment) %>
  <div class="comment_buttons">
    <form action="/comment/<%= comment.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="delete_btn" type="submit" value="delete">
    </form>
    <a href="/comment/<%= comment.id %>/edit" class="edit_link">edit</a>
  </div>
<% end %>