<% if current_user %>
  <div class="comment_form">
    <form action="/comment" method="POST">
      <% if sub %>
        <input name="comment[sub_id]" type="hidden" value="<%= sub.id %>">
      <% end %>
      <input name="comment[parent_id]" type="hidden" value="<%= parent_id %>">
      <%= erb :'comment/_form_inputs', locals: {comment: Comment.new} %>
    </form>
  </div>
<% end %>