<form action="/login" method="POST">
  <%= display_error %>
  Username: <br>
  <input type="text" name="name">
  <br>Password: <br>
  <input type="password" name="password">
  <input type="submit">
</form>