<form action="/signup" method="POST">
  Username: <br>
  <input type="text" name="user[username]">
  <br>Password: <br>
  <input type="password" name="user[password]">
  <br>Password Again: <br>
  <input type="password" name="user[password_confirmation]">
  <input type="submit">
</form>