<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<div id="content">
  <header>
    <a href="/"><img src="/img/zenchinese.png" class="logo"></a>
    <div id="login-toolbar">
      <% if current_user %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/login">Login</a> | <a href="/signup">Signup</a>
      <% end %>
  </header>
  <%= display_error %>
  <%= yield %>
</div>
</body>
</html>
